* {
    overflow-x:hidden;
}
/* Sample Animations */
/* .fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: 500ms;
} */

/* DashBoard Styles (Mobile) */
.dashboard-bg {
    background-image: url('mock-up-images/Dashboard_BG.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    max-width:100vw; 
    z-index:1; 
}
.header {
    background-image: url("mock-up-images/header.svg");
    background-size: 100vw;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:9;
    z-index:5;
}
.dashboard-button {
    background-size: contain;
    background-repeat: no-repeat;
}
.dashboard-button:nth-child(even) {
    margin-left: 3vw;
}
.create-quiz { 
    background-image: url("mock-up-images/create_quiz.svg");
    grid-row-start: 9;
    grid-row-end: 18;
    
} 
.scores {
    background-image: url("mock-up-images/scores.svg");
    grid-row-start: 9;
    grid-row-end: 16;
    
}
.manage-schedule {
    background-image: url("mock-up-images/sched.svg");
    grid-row-start: 16;
    grid-row-end: 23;
    
}
.arrange-class {
    background-image: url("mock-up-images/arrange_class.svg");
    grid-row-start: 18;
    grid-row-end: 25;
    
}
.test-yourself {
    background-image: url("mock-up-images/test_yourself.svg");
    grid-row-start: 23;
    grid-row-end: 31;
    
}
.send-results {
    background-image: url("mock-up-images/send_results.svg");
    grid-row-start: 25;
    grid-row-end: 31;
    
}


